//Utilidades
/*Importamos las variables principales y el Reset*/
@import './utilities/colors';
@import './utilities/fonts';
@import './utilities/reset';

//Sections
/*Estructura base del cuerpo del sitio*/
@import './sections/body';
/*Se crea el Header que estará en todo el sitio*/
@import './sections/header';

.inactive {
    display: none;
}

#loginFormContainer {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: $loginBackground;

    #loginForm {
        left: 35%;
        top: 27.5%;
        width: 30%;
        height: 45%;
        color: silver;
        position: absolute;
        border-radius: 18px;
        font-family: $mainFont;
        border: 3px solid $manaBlue;
        text-align: center !important;
        background-color: $footerBlack;
        box-shadow: 2px 2px 8px 5px $manaBlue;

        #closeForm {
            top: 1%;
            right: 1%;
            color: white;
            padding-left: 1%;
            padding-right: 1%;
            position: absolute;
            border-radius: 20px;
            font-weight: bolder;
            background-color: red;
            border: 1px solid silver;

            &:hover {
                cursor: pointer;
                box-shadow: 1px 0px 2px 1px black;
            }
        }

        h1 {
            margin-top: 3%;
            padding-bottom: 5%;
            border-bottom: 5px solid $manaBlue;
        }

        input {
            width: 70%;
            height: 10%;
            margin-top: 3%;
            text-align: center;
            border-radius: 10px;
        }

        #forget {
            margin-top: 1%;
            font-size: small;
            color: $manaBlue;
            width: fit-content;
            text-decoration: none;

            &:hover {
                color: white;
                cursor: pointer;
            }
        }

        #enter {
            height: 18%;
            color: white;
            font-size: x-large;
            background-color: $manaBlue;
        }

        #createUser {
            margin-top: 3%;
            font-size: large;

            #create {
                margin-top: 0%;
                margin-left: 4%;
                color: $manaBlue;
                width: fit-content;
                text-decoration: none;
    
                &:hover {
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }
}